sonar_generic_test_execution.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="testExecutions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="file" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="testCase" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="1">
                      <xs:element name="skipped">
                        <xs:complexType mixed="true">
                          <xs:attribute name="message" type="xs:string" use="required"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="failure">
                        <xs:complexType mixed="true">
                          <xs:attribute name="message" type="xs:string" use="required"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="error">
                        <xs:complexType mixed="true">
                          <xs:attribute name="message" type="xs:string" use="required"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                  <xs:attribute name="duration" type="xs:nonNegativeInteger" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="path" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
